@import "./base.css";
@import "./form.css";


html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
    src: url('../public/fonts/Poppins-Black.ttf');
    font-family: Poppins, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fit {
        min-height: calc(100vh - 88px);
    }
}